.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    box-sizing: border-box;
    padding: 60px 0;
}
.postCard{
    background: cornflowerblue;
    width: 420px;
    box-sizing: border-box;
    padding: 20px;
    margin: 25px;
    border-radius: 30px;
}
.postComment:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.postComment{
    width: 320px;
    background: navajowhite;
}
.btn{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 29px 16px 29px;
    border: 1px solid darkblue;
    box-sizing: border-box;
    border-radius: 4px;
    color: black;
    background: none;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 black;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    margin-left:35px ;
    width: 300px;

}
.btn:hover{
    box-shadow: 0 0 10px 0 gray inset, 0 0 10px 4px black;
    color: white;
    border-color: white;
    background: black;
    cursor: pointer;
}
